<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; アクセスリスト &gt; <span>検索結果一覧</span></div>

<form name="form" method="get" action="search.php" style="margin: 0px 0px;">
<input name="type" type="hidden" value="(!--# get type #--)">
<input name="run" type="hidden" value="true">
<!--# form hidden owner #-->
<input name="owner_PAL[]" type="hidden" id="owner_PAL[]" value="match comp">

<!--アクセスリスト-->
<div class="topics_accs_list">
<dl>
<dt>絞り込み条件</dt>
<dd>
	広告主(ID)：<!--# form text cuser 10 8 #-->　アフィリエイターID：<!--# form text owner 10 8 #-->　広告ID：<!--# form text adwares 10 8 #--><br/>
	<input type="hidden" name="cuser_PAL[]" value="match comp">
	<input type="hidden" name="owner_PAL[]" value="match comp">
	<input type="hidden" name="adwares_PAL[]" value="match comp">
</dd>
<dt>アクセスされた時期</dt>
<dd>
	<!--# form text regist_yearA 4 4 (!--# code now y #--) #-->&nbsp;年&nbsp;
	<!--# form option regist_monthA (!--# code now m #--) /1/2/3/4/5/6/7/8/9/10/11/12 --/1月/2月/3月/4月/5月/6月/7月/8月/9月/10月/11月/12月 #-->&nbsp;
	<!--# form text regist_dayA 2 2 #-->&nbsp;日&nbsp;
	～<br />
	<!--# form text regist_yearB 4 4 (!--# code now y #--) #-->&nbsp;年&nbsp;
	<!--# form option regist_monthB (!--# code now m #--) /1/2/3/4/5/6/7/8/9/10/11/12 --/1月/2月/3月/4月/5月/6月/7月/8月/9月/10月/11月/12月 #-->&nbsp;
	<!--# form text regist_dayB 2 2 #-->&nbsp;日&nbsp;
	<input type="hidden" name="regist_PAL[]" value="match between">
	&nbsp;のログを&nbsp;<input type="submit" value="表示する">
</dd>
</dl>
</div><!--topics_list_END-->

</form>

    <div class="comp_list">
    <dl>
    <dt>[ SEARCH - 検索が完了しました ]</dt>
    <dd>
    <p>その条件に一致する情報はありませんでした。</p>
        <ul>
        <li>条件を変更して、継続して検索がご利用いただけます。</li>
        </ul>
    </dd>
    </dl>
    </div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
