<!--# setTimeFormat Y/m/d/\ G:i:s #-->
<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; 広告クリック履歴 &gt; 検索結果一覧 &gt; <span>詳細</span> </div>


<div class="search_list">
<dl>
<dt>詳細</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>クリック日時</th>
    <td><!--# value regist #--></td>
</tr>
<tr>
    <th>アクセスID（ハッシュ）</th>
    <td><!--# value access_id #--></td>
</tr>
<tr>
    <th>広告名</th>
    <td><a href="info.php?type=adwares&id=<!--# value adwares #-->"><!--# ecode getCostType name (!--# value adwares #--) #-->(&nbsp;<!--# value adwares #-->&nbsp;)</a></td>
</tr>
<tr>
    <th>紹介者（アフィリエイトID）</th>
    <td><!--# code getName (!--# value owner #--) true #--></td>
</tr>
<tr>
    <th>アクセス者のIPアドレス</th>
    <td><!--# Alias access access_id id ipaddress #--></td>
</tr>
<tr>
    <th>クリック報酬</th>
    <td><!--# value cost #-->円</td>
</tr>
<tr>
    <th>状態</th>
    <td><!--# valueReplace state 1/2 非認証/認証 #--></td>
</tr>


</table>
</dd>
</dl>
</div>

<a href="edit.php?type=click_pay&id=(!--# value id #--)" class="input_base">編集する</a>
<a href="search.php?type=log_pay&run=true&pay_type=(!--# value type #--)&pay_type_PAL[]=match+comp&pay_id=(!--# value id #--)&pay_id_PAL[]=match+comp" class="input_base">報酬変動ログ</a>


</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->

