<!--blocks-->
<!--# setTimeFormat Y/m/d/\ G:i:s #-->
<form name="form" method="post" action="" style="margin: 0px 0px;" onSubmit="return checkChangeAlert(this,(!--# value cost #--),(!--# value state #--));">
<input name="id" type="hidden" value="(!--# value id #--)" >
	<div class="pay_list">
    	<table class="pay_table">
        	<tr>
<!--# ifbegin equal adwares_type secretAdwares #-->
            	<th colspan="2"><!--# alias secretAdwares adwares id name #--></th>
<!--# else #-->
            	<th colspan="2"><!--# alias adwares adwares id name #--></th>
<!--# endif #-->
            	<th colspan="2">
            	<a href="info.php?type=click_pay&id=(!--# value id #--)">詳細</a>
            	&nbsp;&nbsp;<a href="edit.php?type=click_pay&id=(!--# value id #--)">編集</a>
            	&nbsp;&nbsp;<a href="edit.php?type=click_pay&id=(!--# value id #--)&delete=true">削除</a></th>
                <th width="25%" class="regist">発生日時　<!--# value regist #--></th>
            </tr>
            <tr>
            	<td width="15%" class="center"><div class="pay_info">広告ID</div><a href="info.php?type=access&id=<!--# value access_id #-->"><!--# value adwares #--></a></td>
                <td width="20%" class="center"><div class="pay_info">IP</div><!--# alias access access_id id ipaddress #--></td>
            	<td width="30%" class="center"><div class="pay_info">紹介者名　( アフィリエイトID )</div><!--# code getName (!--# value owner #--) true #--></td>
                <td width="10%" class="t_right i_right"><div class="pay_info">クリック報酬</div><!--# form text cost 6 6 (!--# value cost #--) #-->円</td>
                <td width="25%" class="t_right"><div class="pay_info">成果の認証</div><!--# ecode drawStateRadio (!--# value state #--) #-->　<input type="submit" class="normal" value="変更"></td>
                
            </tr>
        </table>
    </div>
</form>
<!--blocks_END-->
