<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; ユーザーランク登録 &gt; 入力フォーム &gt; <span>入力内容の確認</span> &gt; 編集完了</div>

<div class="search_list">
<dl>
<dt>ランク名</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>ランク名<span>※</span></th>
    <td><!--# value name #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="search_list">
<dl>
<dt>ユーザーの利益率</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>利益率<span>※</span></th>
    <td><!--# value rate #-->%</td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="search_list">
<dl>
<dt>このランクへの昇格条件</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>売上高<span>※</span></th>
    <td><!--# value sales #-->円</td>
</tr>
<tr>
    <th>成果件数<span>※</span></th>
    <td><!--# value lot #-->件</td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="input_box">
<input type="submit" value="登録を完了する" class="input_base">
<input type="submit" value="入力画面に戻る" class="input_base" name="back">
</div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
