<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; アフィリエイト媒体登録 &gt; 入力フォーム &gt; 入力内容の確認 &gt; 登録完了 &gt; <span>アカウントの有効化</span></div>

    <div class="comp_list">
    <dl>
    <dt>[ COMPLETE - アカウントの有効化失敗 ]</dt>
    <dd>
    <p>アクティベートに失敗しました。</p>
        <ul>
        <li>そのアカウントは管理者が削除したか、アクティベート済みです。</li>
        </ul>
    </dd>
    </dl>
    </div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
