<!--# readhead info #-->
<div class="pager_info"><p><span>全<!--# variable RES_ROW #-->件中</span><span><!--# variable VIEW_ROW #-->件を表示しています</span></p></div>
<!--# readend #-->

<!--# readhead head #-->
<div class="pager">
<p class="pagination">
<!--# readend #-->

<!--# readhead back #-->
<span class="previous"><a href="<!--# variable URL_BACK #-->">&lt;&lt; 前の<!--# variable VIEW_BACK_ROW #--> 件</a></span>
<!--# readend #-->

<!--# readhead back_dead #-->
<span class="previous">&lt;&lt; 前はありません</span>
<!--# readend #-->

<!--# readhead jump #-->
<span><a href="<!--# variable URL_LINK #-->"><!--# variable PAGE #--></a></span>
<!--# readend #-->

<!--# readhead jump_dead #-->
<span class="active"><!--# variable PAGE #--></a></span>
<!--# readend #-->

<!--# readhead next #-->
<span class="next"><a href="<!--# variable URL_NEXT #-->">次の<!--# variable VIEW_NEXT_ROW #-->件 &gt;&gt;</a></span>
<!--# readend #-->

<!--# readhead next_dead #-->
<span class="next">次はありません &gt;&gt;</span>
<!--# readend #-->

<!--# readhead foot #-->
</p>
</div>
<!--# readend #-->