<center>
<form name="form" method="get" action="search.php">
<input name="type" type="hidden" value="(!--# get type #--)" />
<input name="run" type="hidden" value="true" />
<input name="id" type="hidden" value="(!--# get id #--)" />
<input name="id_PAL[]" type="hidden" id="id_PAL[]" value="match like" />
<div style="background:#336;color:#FFF;text-align:center;font-size:normal;">y ¬‰Ê—š—ð z</div>
<br />
<!--# form text y 4 4 (!--# code now y #--) (!--# code getInputMode 4 #--) #-->”N
<!--# form option m (!--# code now m #--) 1/2/3/4/5/6/7/8/9/10/11/12 1ŒŽ/2ŒŽ/3ŒŽ/4ŒŽ/5ŒŽ/6ŒŽ/7ŒŽ/8ŒŽ/9ŒŽ/10ŒŽ/11ŒŽ/12ŒŽ #-->
<p><input type="submit" value="ŒŸõ‚·‚é" /></p>
</form>
<div style="background:#336;color:#FFF;text-align:center;font-size:normal;">y INFORMATION z</div>
<p>‚»‚ÌðŒ‚Éˆê’v‚·‚éî•ñ‚Í‚ ‚è‚Ü‚¹‚ñ‚Å‚µ‚½B</p>
