<div style="background:#933;color:#FFF;text-align:center;font-size:normal;">【 退会 】</div>
<div style="color: #933;">以下の登録情報を削除します。</div>
<div style="text-align:left;">

<div style="background:#EEE;"><span style="color:#933;">■名前:</span><br />
<!--# value name #--></div>

<div style="background:#DDD;"><span style="color:#933;">■住所:</span><br />
〒<!--# value zip1 #-->-<!--# value zip2 #--><br />
<!--# alias prefectures adds id name #--><!--# value add_sub #--></div>

<div style="background:#EEE;"><span style="color:#933;">■電話番号:</span><br />
<!--# value tel #--></div>

<div style="background:#DDD;"><span style="color:#933;">■FAX番号:</span><br />
<!--# value fax #--></div>

<div style="background:#EEE;"><span style="color:#933;">■バナー掲載URL:</span><br />
<!--# value url #--></div>

<div style="background:#DDD;"><span style="color:#933;">■メールアドレス:</span><br />
<!--# value mail #--></div>

<div style="background:#EEE;"><span style="color:#933;">■銀行名:</span><br />
<!--# value bank #--></div>

<div style="background:#DDD;"><span style="color:#933;">■支店:</span><br />
<!--# value branch #--></div>

<div style="background:#EEE;"><span style="color:#336;">■金融機関番号:</span><br />
<!--# value bank_code #--></div>

<div style="background:#DDD;"><span style="color:#336;">■支店番号:</span><br />
<!--# value branch_code #--></div>

<div style="background:#EEE;"><span style="color:#933;">■口座種別:</span><br />
<!--# valueReplace bank_type 1/2/4 普通/預金/貯蓄 #--></div>

<div style="background:#DDD;"><span style="color:#933;">■口座番号:</span><br />
<!--# value number #--></div>

<div style="background:#EEE;"><span style="color:#933;">■口座名義:</span><br />
<!--# value bank_name #--></div>

<div style="background:#DDD;"><span style="color:#933;">■パスワード:</span><br />
<!--# value pass #--></div>

<br />
<div style="text-align:center;"><input type="submit" value="削除する"></div>
<br />

</div>