<div style="background:#336;color:#FFF;text-align:center;font-size:normal;">【 編集内容確認 】</div>
<div style="color: #339;">入力した内容を確認してください。</div>
<div style="text-align:left;">

<div style="background:#EEE;"><span style="color:#336;">■名前:</span><br />
<!--# value name #--></div>

<div style="background:#DDD;"><span style="color:#336;">■住所:</span><br />
〒<!--# value zip1 #-->-<!--# value zip2 #--><br />
<!--# alias prefectures adds id name #--><!--# value add_sub #--></div>

<div style="background:#EEE;"><span style="color:#336;">■電話番号:</span><br />
<!--# value tel #--></div>

<div style="background:#DDD;"><span style="color:#336;">■FAX番号:</span><br />
<!--# value fax #--></div>

<div style="background:#EEE;"><span style="color:#336;">■バナー掲載URL:</span><br />
<!--# value url #--></div>

<div style="background:#DDD;"><span style="color:#336;">■メールアドレス:</span><br />
<!--# value mail #--></div>

<div style="background:#EEE;"><span style="color:#336;">■銀行名:</span><br />
<!--# value bank #--></div>

<div style="background:#DDD;"><span style="color:#336;">■支店:</span><br />
<!--# value branch #--></div>

<div style="background:#EEE;"><span style="color:#336;">■金融機関番号:</span><br />
<!--# value bank_code #--></div>

<div style="background:#DDD;"><span style="color:#336;">■支店番号:</span><br />
<!--# value branch_code #--></div>

<div style="background:#EEE;"><span style="color:#336;">■口座種別:</span><br />
<!--# valueReplace bank_type 1/2/4 普通/預金/貯蓄 #--></div>

<div style="background:#DDD;"><span style="color:#336;">■口座番号:</span><br />
<!--# value number #--></div>

<div style="background:#EEE;"><span style="color:#336;">■口座名義:</span><br />
<!--# value bank_name #--></div>

<div style="background:#DDD;"><span style="color:#336;">■パスワード:</span><br />
<!--# value pass #--></div>

<br />
<div style="text-align:center;"><input type="submit" value="編集する"></div>
<br />

</div>