<!--# readhead head #-->
<div style="background:#933;color:#FFF;text-align:center;">【 ERROR 】</div>
<div style="text-align:left">
<span style="color:#933;">下記の項目が入力されていません。<br />入力、又は選択して下さい。</span><br />
<!--# readend #-->
<!--# readhead name #-->
<span style="color:#933;">■　名前</span><br />
<!--# readend #-->
<!--# readhead zip1 #-->
<span style="color:#933;">■　郵便番号</span><br />
<!--# readend #-->
<!--# readhead adds #-->
<span style="color:#933;">■　住所</span><br />
<!--# readend #-->
<!--# readhead add_sub #-->
<span style="color:#933;">■　住所(詳細)</span><br />
<!--# readend #-->
<!--# readhead tel #-->
<span style="color:#933;">■　電話番号</span><br />
<!--# readend #-->
<!--# readhead fax #-->
<span style="color:#933;">■　FAX番号</span><br />
<!--# readend #-->
<!--# readhead url #-->
<span style="color:#933;">■　ﾊﾞﾅｰ掲載URL</span><br />
<!--# readend #-->
<!--# readhead mail #-->
<span style="color:#933;">■　ﾒｰﾙｱﾄﾞﾚｽ</span><br />
<!--# readend #-->
<!--# readhead mail_CONFIRM_NOT #-->
<span style="color:#933;">■　ﾒｰﾙｱﾄﾞﾚｽ再入力</span><br />
<!--# readend #-->
<!--# readhead mail_CONFIRM_CHECK #-->
<span style="color:#933;">■　ﾒｰﾙｱﾄﾞﾚｽの不一致</span><br />
<!--# readend #-->
<!--# readhead bank_code #-->
<span style="color:#933;">■　金融機関番号</span><br />
<!--# readend #-->
<!--# readhead branch_code #-->
<span style="color:#933;">■　支店番号</span><br />
<!--# readend #-->
<!--# readhead bank #-->
<span style="color:#933;">■　銀行名</span><br />
<!--# readend #-->
<!--# readhead branch #-->
<span style="color:#933;">■　支店</span><br />
<!--# readend #-->
<!--# readhead bank_type #-->
<span style="color:#933;">■　口座種別</span><br />
<!--# readend #-->
<!--# readhead number #-->
<span style="color:#933;">■　口座番号</span><br />
<!--# readend #-->
<!--# readhead bank_name #-->
<span style="color:#933;">■　口座名義</span><br />
<!--# readend #-->
<!--# readhead bank_name_REGEX #-->
<span style="color:#933;">■　口座名義がカナではない</span><br />
<!--# readend #-->
<!--# readhead pass #-->
<span style="color:#933;">■　ﾊﾟｽﾜｰﾄﾞ</span><br />
<!--# readend #-->
<!--# readhead pass_CONFIRM_NOT #-->
<span style="color:#933;">■　ﾊﾟｽﾜｰﾄﾞ再入力</span><br />
<!--# readend #-->
<!--# readhead pass_CONFIRM_CHECK #-->
<span style="color:#933;">■　ﾊﾟｽﾜｰﾄﾞの不一致</span><br />
<!--# readend #-->
<!--# readhead tel_REGEX #-->
<span style="color:#933;">■　電話番号に使用できない文字が含まれています。</span><br />
<!--# readend #-->
<!--# readhead fax_REGEX #-->
<span style="color:#933;">■　FAX番号に使用できない文字が含まれています。</span><br />
<!--# readend #-->
<!--# readhead number_REGEX #-->
<span style="color:#933;">■　口座番号に使用できない文字が含まれています。</span><br />
<!--# readend #-->
<!--# readhead mail_dup #-->
<span style="color:#933;">■　そのﾒｰﾙｱﾄﾞﾚｽはすでに利用されています。</span><br />
<!--# readend #-->
<!--# readhead mail_MAIL #-->
<span style="color:#933;">■　不正なﾒｰﾙｱﾄﾞﾚｽです。</span><br />
<!--# readend #-->
<!--# readhead url_URI #-->
<span style="color:#933;">■　不正なURLです。</span><br />
<!--# readend #-->
<!--# readhead magni_REGEX #-->
<span style="color:#933;">■　最終成果換算レートに使用できない文字が使われています。</span><br />
<!--# readend #-->
<!--# readhead personal_rate #-->
<span style="color:#933;">■　ﾊﾟｰｿﾅﾙﾚｰﾄが設定されていません。</span><br />
<!--# readend #-->
<!--# readhead magni #-->
<span style="color:#933;">■　最終成果換算ﾚｰﾄが設定されていません。</span><br />
<!--# readend #-->
<!--# readhead parent_ExistsUser #-->
<span style="color:#933;">■　紹介者IDの指定が不正です。紹介者ユーザーは既に退会している可能性があります。</span><br />
<!--# readend #-->
<!--# readhead foot #-->
</div>
<!--# readend #-->
