<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; 広告の編集 &gt; <span>入力フォーム</span> &gt; 入力内容の確認 &gt; 登録完了</div>

<!--# variable error_msg #-->

<div class="search_list">
<dl>
<dt>※印が付いている項目は必須です。</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>広告名<span>※</span></th>
    <td><!--# form text name 50 128 #--></td>
</tr>
<tr>
    <th>カテゴリーの選択<span>※</span></th>
    <td>
	  <!--# code tableSelectForm category category name id #--><br />
    </td>
</tr>
<tr>
    <th>広告説明文<span>※</span></th>
    <td><!--# form textarea comment    class="textarea" #--></td>
</tr>
<tr>
    <th>テキスト広告文<span>※</span></th>
    <td><!--# form text ad_text 50 128 #--></td>
</tr>
</tr>
<tr>
    <th>リダイレクト方式<span>※</span></th>
    <td>
<!--# ifbegin ! bool url_users #-->
    <label><input type="radio" checked="true" value="FALSE" name="url_users" onclick="document.getElementById('redirect_url').style.display='table-row';">&nbsp;リダイレクトURL</label>
    <label><input type="radio" value="TRUE" name="url_users" onclick="document.getElementById('redirect_url').style.display='none';">&nbsp;アフィリエイターの自由入力</label>
<!--# else #-->
    <label><input type="radio" value="FALSE" name="url_users" onclick="document.getElementById('redirect_url').style.display='table-row';">&nbsp;リダイレクトURL</label>
    <label><input type="radio" checked="true" value="TRUE" name="url_users" onclick="document.getElementById('redirect_url').style.display='none';">&nbsp;アフィリエイターの自由入力</label>
<!--# endif #-->
    </td>
    </tr>
<!--# ifbegin ! bool url_users #-->
<tr id="redirect_url" style="display:table-row;">
<!--# else #-->
<tr id="redirect_url" style="display:none;">
<!--# endif #-->
    <th>リダイレクトURL</th>
    <td style="padding:0;">

    <table style="padding:0; margin:0;" cellspacing="0">
    <tr>
        <th style="border:0;">標準<span>※</span></th>
        <td style="border:0;">
        	<!--# form text url 50 256 #-->
        </td>
    </tr>
    <tr>
        <td colspan="2" style="border:0;">
            <span class="info">下記の設定が未登録の場合は標準URLにリダイレクトします。</span>
        </td>
    </tr>
    <tr>
        <th style="border:0;">docomo</div></th>
        <td style="border:0;">
        	<!--# form text url_docomo 50 256 #-->
        </td>
    </tr>
    <tr>
        <th style="border:0;">au</div></th>
        <td style="border:0;">
        	<!--# form text url_au 50 256 #-->
        </td>
    </tr>
    <tr>
        <th style="border:0;">SoftBank</div></th>
        <td style="border:0;">
        	<!--# form text url_softbank 50 256 #-->
        </td>
    </tr>
    <tr>
        <th style="border:0;">iPhone</div></th>
        <td style="border:0;">
        	<!--# form text url_iphone 50 256 #-->
        </td>
    </tr>
    <tr>
        <th style="border:0;">Android/PC</div></th>
        <td style="border:0;">
        	<!--# form text url_android 50 256 #-->
        </td>
    </tr>
    <tr>
        <th style="border:0;">Android/docomo</div></th>
        <td style="border:0;">
        	<!--# form text url_android_docomo 50 256 #-->
        </td>
    </tr>
    <tr>
        <th style="border:0;">Android/au</div></th>
        <td style="border:0;">
        	<!--# form text url_android_au 50 256 #-->
        </td>
    </tr>
    <tr>
        <th style="border:0;">Android/SoftBank</div></th>
        <td style="border:0;">
        	<!--# form text url_android_softbank 50 256 #-->
        </td>
    </tr>
    </table>
    </td>
</tr>
<!--# ifbegin enableMobile #-->
<tr style="display:none;">
    <th>リダイレクトURL(携帯用)</th>
    <td><!--# form text url_m 50 256 #--></td>
</tr>
<!--# endif #-->
<tr>
    <th>成果単価<span>※</span></th>
    <td><!--# form text money 15 10 #-->円
    <input type="hidden" name="ad_type" value="yen">
    </td>
</tr>
<tr style="display:none;">
    <th>クリック単価<span>※</span></th>
    <td><!--# form text click_money 15 10 #-->円</td>
</tr>
<input type="hidden" name="click_money" value="0">
<tr style="display:none;">
    <th>継続課金</th>
    <td><!--# form text continue_money 15 10 #--><!--# form option continue_type yen yen/per 円/％ #--></td>
</tr>
<input type="hidden" value="0" name="continue_money">
<tr>
    <th>予算上限<span>※</span></th>
    <td><!--# form text limits 15 10 #--><!--# form option limit_type 0 0/1/2/3/4 予算上限なし/円/件(獲得)/件(クリック)/件(継続) #--><br />
    <span class="info">現在の状況 : 獲得成果<!--# value money_count #-->円</span>

<!--# ifbegin equal limit_type 1 #-->
<!--# ifbegin val< (!--# value limits #--) (!--# value money_count #--) #-->
<span class="info">※予算オーバー：予算を再設定してください。</a>
<!--# endif #-->
<!--# endif #-->

<!--# ifbegin equal limit_type 2 #-->
<!--# ifbegin val< (!--# value limits #--) (!--# value pay_count #--) #-->
<span class="info">※予算オーバー：予算を再設定してください。</a>
<!--# endif #-->
<!--# endif #-->

<!--# ifbegin equal limit_type 3 #-->
<!--# ifbegin val< (!--# value limits #--) (!--# value click_money_count #--) #-->
<span class="info">※予算オーバー：予算を再設定してください。</a>
<!--# endif #-->
<!--# endif #-->

<!--# ifbegin equal limit_type 4 #-->
<!--# ifbegin val< (!--# value limits #--) (!--# value continue_money_count #--) #-->
<span class="info">※予算オーバー：予算を再設定してください。</a>
<!--# endif #-->
<!--# endif #-->

    	<div class="in_clip">
        予算オーバー時のリダイレクトURL　<!--# form text url_over 50 256 #-->
        	<span class="info">予算オーバー時には上記で設定したURLに遷移します。</span>
        </div>
    </td>
</tr>
<tr style="display:none;">
    <th>クリック間隔<span>※</span></th>
    <td>
		不正防止の為、最後のクリックから <!--# form text span 15 10 #--><!--# form option span_type s s/m/h/d 秒/分/時/日 #--> 間のクリックを無効にする。
        <div class="in_clip">
        同一ユーザーかどうかを　「　<!--# form radio use_cookie_interval FALSE  TRUE/FALSE &nbsp;COOKIEで判別/&nbsp;IPで判別 #-->　」する
        </div>
	</td>
</tr>
<input type="hidden" value="0" name="span">
<input type="hidden" value="s" name="span_type">
<input type="hidden" value="FALSE" name="use_cookie_interval">
<tr>
    <th>成果間隔<span>※</span></th>
    <td>不正防止の為、最後の成果発生から <!--# form text pay_span 15 10 #--><!--# form option pay_span_type s s/m/h/d 秒/分/時/日 #--> 間は同一IPでの成果発生を無効にする。</td>
</tr>
<tr style="display:none;">
    <th>クリック成果の認証<span>※</span></th>
    <td><!--# form radio click_auto 1  1/0 &nbsp;自動/&nbsp;手動 #--></td>
</tr>
<input type="hidden" value="1" name="click_auto">
<tr>
    <th>成果認証<span>※</span></th>
    <td><!--# form radio auto 1  1/0 &nbsp;自動/&nbsp;手動 #--></td>
</tr>
<tr style="display:none;">
    <th>継続成果の認証<span>※</span></th>
    <td><!--# form radio continue_auto 1  1/0 &nbsp;自動/&nbsp;手動 #--></td>
</tr>
<input type="hidden" value="1" name="continue_auto">
<tr>
    <th>広告バナー(PC用)</th>
    <td>
		<p><!--# form image banner #--></p><br />
		<p><!--# form image banner2 #--></p><br />
		<p><!--# form image banner3 #--></p><br />
		<p><!--# form image banner4 #--></p><br />
		<p><!--# form image banner5 #--></p>
	</td>
</tr>
<tr>
    <th>広告バナー(SP用)</th>
    <td>
		<p><!--# form image banner_s #--></p><br />
		<p><!--# form image banner_s2 #--></p><br />
		<p><!--# form image banner_s3 #--></p><br />
		<p><!--# form image banner_s4 #--></p><br />
		<p><!--# form image banner_s5 #--></p>
	</td>
</tr>
<tr>
    <th>広告バナー(FP用)</th>
    <td>
		<p><!--# form image banner_m #--></p><br />
		<p><!--# form image banner_m2 #--></p><br />
		<p><!--# form image banner_m3 #--></p><br />
		<p><!--# form image banner_m4 #--></p><br />
		<p><!--# form image banner_m5 #--></p>
	</td>
</tr>
<tr style="display:none;">
    <th>広告認証形式<span>※</span></th>
    <td><!--# form radio check_type ip  ip/cookie &nbsp;IPアドレス/&nbsp;Cookie #--><span class="info">広告経由情報の認証方法を選択して下さい。(PCのみ設定可能です)</span></td>
</tr>
<input type="hidden" value="ip" name="check_type">
<tr>
    <th>広告の公開状態<span>※</span></th>
    <td><!--# form radio open TRUE  TRUE/FALSE &nbsp;公開/&nbsp;非公開 #--></td>
</tr>
</table>
</dd>
</dl>
</div>
<input type="hidden" name="MAX_FILE_SIZE" value="512000">

<!--# form checkbox delete   true 広告情報を削除する #-->

<div class="input_box">
<input type="submit" value="入力内容の確認" class="input_base">
<input type="reset" value="リセット" class="input_base">
</div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
