<!--# readhead head #-->
    <div class="error_list">
    <dl>
    <dt>ERROR - [ 登録エラー ] もう一度、入力した内容を確認してください。</dt>
    <dd>
        <ul>
<!--# readend #-->

<!--# readhead comment #-->
        <li>PR文が入力されていません。</li>
<!--# readend #-->

<!--# readhead category #-->
        <li>カテゴリーが選択されていません。</li>
<!--# readend #-->

<!--# readhead url #-->
        <li>URLが入力されていません。</li>
<!--# readend #-->

<!--# readhead url_users #-->
        <li>URL種別が選択されていません。</li>
<!--# readend #-->

<!--# readhead name #-->
        <li>広告名が入力されていません。</li>
<!--# readend #-->

<!--# readhead money #-->
        <li>単価が入力されていません。</li>
<!--# readend #-->

<!--# readhead money_REGEX #-->
        <li>単価は数値で入力してください。</li>
<!--# readend #-->

<!--# readhead ad_type #-->
        <li>報酬タイプが選択されていません。</li>
<!--# readend #-->

<!--# readhead banner #-->
        <li>バナーが入力されていません。</li>
<!--# readend #-->

<!--# readhead click_money #-->
        <li>クリック単価が入力されていません。</li>
<!--# readend #-->

<!--# readhead click_money_REGEX #-->
        <li>クリック単価は数値で入力してください。</li>
<!--# readend #-->

<!--# readhead limits #-->
        <li>予算上限が入力されていません。</li>
<!--# readend #-->

<!--# readhead limits_REGEX #-->
        <li>予算上限は数値で入力してください。</li>
<!--# readend #-->

<!--# readhead limit_type #-->
        <li>予算上限種別が選択されていません。</li>
<!--# readend #-->

<!--# readhead span #-->
        <li>クリック間隔が入力されていません。</li>
<!--# readend #-->

<!--# readhead span_REGEX #-->
        <li>クリック間隔は数値で入力してください。</li>
<!--# readend #-->

<!--# readhead span_type #-->
        <li>クリック間隔種別が選択されていません。</li>
<!--# readend #-->

<!--# readhead pay_span #-->
        <li>成果間隔が入力されていません。</li>
<!--# readend #-->

<!--# readhead pay_span_REGEX #-->
        <li>成果間隔は数値で入力してください。</li>
<!--# readend #-->

<!--# readhead pay_span_type #-->
        <li>成果間隔種別が選択されていません。</li>
<!--# readend #-->

<!--# readhead ad_text #-->
        <li>テキスト広告文が入力されていません。</li>
<!--# readend #-->

<!--# readhead foot #-->
        </ul>
    </dd>
    </dl>
    </div>
<!--# readend #-->
