<form name="form" method="get" action="search.php" style="margin: 0px 0px;">
<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; 掲載広告 &gt; <span>広告の検索結果一覧</span></div>

<!--角丸-->
<div class="cc">
<dl>
<dt><span>検索</span></dt>
<dd>
<!---->
    <INPUT type="hidden" name="type" value="adwares">
    <INPUT type="hidden" name="run" value="true">
	<table class="search_table" summary="検索用テーブル">
    <tr>
    	<th>ID</th>
        <td><!--# form text id 10 8 #-->
	  <input name="id_PAL[]" type="hidden" id="id_PAL[]" value="match like"></td>
	</tr>
    <tr>
    	<th>広告名</th>
        <td>
          <!--# form text name 25 25 #-->
          <input name="name_PAL[]" type="hidden" id="name_PAL[]" value="match like">
        </td>
	</tr>
    <tr>
    	<th>広告カテゴリー</th>
        <td>
        <!--# code tableCheckForm category category name id #-->
          <input name="category_PAL[]" type="hidden" id="category_PAL[]" value="match in">
        </td>
    </tr>
    </table>
    <div class="input_box">
	<input type="submit" value="検索する" class="input_base">
    <input type="reset" value="リセット" class="input_base">
    </div>
<!---->
</dd>
</dl>
</div>
<!--角丸終わり-->

    <div class="comp_list">
    <dl>
    <dt>[ SEARCH - 検索が完了しました ]</dt>
    <dd>
    <p>その条件に一致する情報はありませんでした。</p>
        <ul>
        <li>条件を変更して、継続して検索がご利用いただけます。</li>
        </ul>
    </dd>
    </dl>
    </div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
</form>

