<div style="background:#336;color:#FFF;text-align:center;font-size:normal;">【 換金申請 】</div>
<div style="background:#EEF;">※換金は合計額<!--# ecode getCostType exchangeLimit  #-->円から受け付けています。</div>
<div style="background:#EEE;color:#336;text-align:left;font-size:normal;">　配当可能残高</div>
<div style="color:#336;text-align:right;"><!--# ecode getExchange now #-->円　　　</div>

<p>換金額:<!--# form text cost 6 6 (!--# ecode getCostType exchangeLimit  #--) (!--# code getInputMode 4 #--) #-->円</p>
<p><input type="submit" value="申請する"></p>
<!--# variable error_msg #-->