<!--# readhead head #-->
<div style="background:#933;color:#FFF;text-align:center;font-size:normal;">【 エラー 】</div>
<!--# readend #-->
<!--# readhead cost #-->
<div style="color:#933;text-align:left;">
■　換金額が入力されていません。
</div>
<!--# readend #-->
<!--# readhead limit #-->
<div style="color:#933;text-align:left;">
■　換金額が
<!--# ecode getCostType exchangeLimit #-->
円に満ていません。
</div>
<!--# readend #-->
<!--# readhead outof #-->
<div style="color:#933;text-align:left;">■　配当残高が不足しています。</div>
<!--# readend #-->

<!--# readhead foot #-->
<br />
<!--# readend #-->
