<!--# readhead head #-->
<div class="search_list">
<dl>
<dt>メール通知に関する設定を入力してください。</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <td>
<!--# readend #-->
<!--# readhead list #-->

<!--# readend #-->
<!--# readhead foot #-->
	</td>
</tr>
</table>
</dd>
</dl>
</div>
<!--# readend #-->
<!--# readhead check #-->
<div class="search_list">
<dl>
<dt>メール通知に関する設定</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <td>
    <!--# arrayReplace mail_reception <br/><br/> 1/2/4 クリック広告の通知をキャンセル/成果認証の通知をキャンセル/継続課金の通知をキャンセル #-->
	</td>
</tr>
</table>
</dd>
</dl>
</div>
<!--# readend #-->