<!--blocks-->
<!--# setTimeFormat Y/m/d/\ G:i:s #-->
	<div class="pay_list">
    	<table class="pay_table">
        	<tr>
<!--# ifbegin equal adwares_type secretAdwares #-->
            	<th colspan="4"><!--# alias secretAdwares adwares id name #--></th>
<!--# else #-->
            	<th colspan="4"><!--# alias adwares adwares id name #--></th>
<!--# endif #-->
            </tr>
            <tr>
            	<td width="25%" class="center"><div class="pay_info">クリック日時</div><!--# value regist #--></td>
            	<td width="30%" class="center"><div class="pay_info">広告ID</div><!--# value adwares #--></td>
                <td width="20%" class="t_right i_right"><div class="pay_info">クリック報酬</div><!--# code comma (!--# value cost #--) #-->円</td>
                <td width="25%" class="center"><div class="pay_info">成果の認証状態</div><!--# valueReplace state 2/1 認証/非認証 #--></td>
                
            </tr>
        </table>
    </div>
<!--blocks_END-->
