<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; 継続課金履歴リスト &gt; <span>検索結果一覧</span></div>

<form name="form" method="get" action="search.php" style="margin: 0px 0px;">
<input name="type" type="hidden" value="(!--# get type #--)">
<input name="run" type="hidden" value="true">
<input name="id" type="hidden" value="(!--# get id #--)">
<input name="id_PAL[]" type="hidden" id="id_PAL[]" value="match like">

<div class="cs">
	<table class="search_table" summary="検索用テーブル">
    <tr>
    	<th>成果発生月</th>
        <td><!--# form text y 4 4 #-->&nbsp;年&nbsp;<!--# form option m (!--# code now m #--) 1/2/3/4/5/6/7/8/9/10/11/12 1月/2月/3月/4月/5月/6月/7月/8月/9月/10月/11月/12月 #-->
		<!--# code num_option d 31 1 1 #-->日 ～<!--# code num_option d2 31 31 1 #-->日
        </td>
    </tr>
    <tr>
    	<th>認証状態</th>
        <td><!--# form checkbox state   2/1 認証/非認証 #-->
		<input type="hidden" name="state_PAL[]" value="match or">
        </td>
    </tr>
    </table>
    <div class="input_box">
	<input type="submit" value="検索する" class="input_base">
    <input type="reset" value="リセット" class="input_base">
    </div>
</div>


</form>

<!--# setTimeFormat Y/m/d/\ G:i:s #-->
<!--# syscode searchResult setResultNum 5 #-->
<!--# syscode searchResult setPagejumpNum 7 #-->
<!--ページャー-->
<!--# syscode searchResult info #-->
<!--# syscode searchResult pageChange #-->
<!--ページャーここまで-->

<!--# safeVariable minusError #-->

<!--# syscode searchResult result #-->

<!--ページャー-->
<!--# syscode searchResult pageChange #-->
<!--ページャーここまで-->

<div class="orange_list">
<dl>
<dt>インフォメーション</dt>
<dd>
    <ul><li>この検索結果の報酬金額合計：<!--# code comma (!--# variable SUM #--) #-->円</li></ul>
</dd>
</dl>
</div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
