<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; <span>ERROR</span></div>

    <div class="error_list">
    <dl>
    <dt>ERROR - [ エラー ] 操作を完了できません。</dt>
    <dd>
    <p>システムの不具合のため、操作を完了できません。</p>
    <p>送信頂いたデータは正常に処理されなかった可能性があります。</p>
    <p>ご迷惑をおかけしております。</p>
        <ul>
        <li><a href="index.php">トップページ</a>に戻る</li>
        </ul>
    </dd>
    </dl>
    </div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
