<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; 招待状発行 &gt; 招待状の入力 &gt; <span>入力内容の確認</span> &gt; 招待状発行完了</div>

<div class="search_list">
<dl>
<dt>この内容で招待状を送信しますか？</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>メールアドレス</th>
    <td><!--# value mail #--></td>
</tr>
<tr>
    <th>メッセージ</th>
    <td><!--# value message #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="input_box">
<input type="submit" value="招待状を送信する" class="input_base">
<input type="submit" value="入力画面に戻る" class="input_base" name="back">
</div>

</div><!--inc_side_body_END-->
</form>

<br class="clear">

</div><!--contents_END-->
