<!--# readhead head #-->
    <div class="error_list">
    <dl>
    <dt>ERROR - [ 登録エラー ] もう一度、入力した内容を確認してください。</dt>
    <dd>
        <ul>
<!--# readend #-->

<!--# readhead mail #-->
        <li>メールアドレスが入力されていません。</li>
<!--# readend #-->

<!--# readhead mail_MAIL #-->
        <li>不正なメールアドレスです。</li>
<!--# readend #-->

<!--# readhead message #-->
        <li>メッセージが入力されていません。</li>
<!--# readend #-->

<!--# readhead mail_dup #-->
        <li>そのメールアドレスはすでに登録済みです。</li>
<!--# readend #-->

<!--# readhead foot #-->
        </ul>
    </dd>
    </dl>
    </div>
<!--# readend #-->
