<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; 換金申請 &gt; 換金額の入力 &gt; <span>入力内容の確認</span> &gt; 申請完了</div>

<div class="search_list">
<dl>
<dt>この金額で換金申請しますか？</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>換金額</th>
    <td><!--# value cost #-->円</td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="input_box">
<input type="submit" value="申請を完了する" class="input_base">
<input type="submit" value="入力画面に戻る" class="input_base" name="back">
</div>

</div><!--inc_side_body_END-->
</form>

<br class="clear">

</div><!--contents_END-->
