<!--# readhead head #-->
    <div class="error_list">
    <dl>
    <dt>ERROR - [ 登録エラー ] もう一度、入力した内容を確認してください。</dt>
    <dd>
        <ul>
<!--# readend #-->

<!--# readhead cost #-->
        <li>換金額が入力されていません。</li>
<!--# readend #-->
<!--# readhead cost_REGEX #-->
        <li>半角数字のみ入力してください。</li>
<!--# readend #-->
<!--# readhead limit #-->
        <li>換金額が最低換金額( <!--# ecode getCostType exchangeLimit #-->円 )に満ていません。</li>
<!--# readend #-->
<!--# readhead outof #-->
        <li>換金額が所持配当残高よりも大きい金額です。</li>
<!--# readend #-->

<!--# readhead foot #-->
        </ul>
    </dd>
    </dl>
    </div>
<!--# readend #-->
