<?xml version="1.0" encoding="Shift-JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift-JIS" />
<meta name="keywords" content="アフィリエイト,システム" />
<meta name="description" content="アフィリエイトシステム" />
<!--# syscode css_load #-->
<title>アフィリエイトASPシステム</title>
</head>
<body>

<div style="width:240px;margin:0px auto;">

<div align="center" style="font-size:small;">
<img src="img/logo.gif" width="240px" height="85px" />
<div style="display:-wap-marquee;-wap-marquee-loop:infinite;background:#666;color:#FFF;">アフィリエイトASPシステム</div>
