
<div style="background:#336;color:#FFF;text-align:center;font-size:normal;">初めての方はコチラから</div>

<div style="text-align:center;background:#EEE;"><br /><br /><a href="regist.php?type=nUser(!--# ecode addParentKey #--)">新規会員登録</a>
<br />全て無料でご利用頂けます。<br /><br /></div>

<div style="background:#336;color:#FFF;text-align:center;font-size:normal;">会員ログイン</div>

<div style="background:#EEE;">

<form action="login.php" method="post">
<br /><br />
<div style="text-align:center;">ﾒｰﾙｱﾄﾞﾚｽ<br /><input name="mail" type="text" size="15" /></div>
<div style="text-align:center;">ﾊﾟｽﾜｰﾄﾞ<br /><input name="passwd" type="password" size="15" /></div>
<div style="text-align:center;"><br /><input type="submit" value=" ﾛｸﾞｲﾝ " /><br /><br /></div>
</form>

<div style="background:#336;color:#FFF;text-align:center;font-size:normal;">ｸｲｯｸﾛｸﾞｲﾝ</div>

<form action="quick.php?guid=on" method="post">
<div style="text-align:center;"><br /><br /><input type="submit" value=" ｸｲｯｸﾛｸﾞｲﾝ[0] " accesskey="0" /><br /><br /></div>
<input type="hidden" name="login" value="true" />
</form>

</div>