<div style="background:#933;color:#FFF;text-align:center;font-size:normal;">y INFORMATION z</div>

<p style="text-align:center">=> Û¸Þ²Ý‚ÉŽ¸”s‚µ‚Ü‚µ‚½ <=</p>
<p style="text-align:left">Ò°Ù±ÄÞÚ½‚ÆÊß½Ü°ÄÞ‚ðŠm”F‚µ‚Ä‚­‚¾‚³‚¢B</p>

<form action="login.php" method="post">
<br /><br />
<div style="text-align:center;">Ò°Ù±ÄÞÚ½<br /><input name="mail" type="text" size="15" /></div>
<div style="text-align:center;">Êß½Ü°ÄÞ<br /><input name="passwd" type="password" size="15" /></div>
<div style="text-align:center;"><br /><input type="submit" value=" Û¸Þ²Ý " /><br /><br /></div>
</form>

<p style="text-align:center;"><a href="index.php">[0]Ä¯ÌßÍß°¼Þ‚É–ß‚é</a></p>
