<!--# readhead encode #-->
<a href="mailto:?subject=(!--# ecode ucencode ☆友達紹介☆ #--)&body=%83%81%81%5B%83%8B%82%C5%92%99%82%DC%82%E9%21%8B%B3%82%A6%82%C4%91%9D%82%A6%82%E9%21%8C%BB%8B%E0%8Al%93%BE%83T%83C%83g%0D%0A%8F%D0%89%EE%97pURL%0D%0A(!--# ecode ucencode (!--# ecode getSiteProfile home #--)index.php?friend=(!--# value id #--) #--)">友達紹介</a>
<!--# readend #-->
<!--# readhead nomal #-->
<a href="mailto:?subject=☆友達紹介☆&body=メールで貯まる!教えて増える!現金獲得サイト%0D%0A紹介用URL%0D%0A(!--# ecode getSiteProfile home #--)index.php?friend=(!--# value id #--)">友達紹介</a>
<!--# readend #-->
