a.table1:link{
color:#42456C; 
}

a.table1:visited{
color:#42456C; 
}

a.table1:hover{ 
color:#175BA6; 
}

a.table1:active{ 
color:#42456C; 
}


TD,BODY {
	font-size: 12px;
	color: #42456C;
}

.base_middle {
	font-size: 14px;
	color: #42456C;
}
.base_small {
	font-size: 11px;
	color: #42456C;
}
.base_large {
	font-size: 16px;
	color: #42456C;
}

.window{
    border-left: 		solid 1px #CCCCCC;
	border-right: 		solid 1px #CCCCCC;
	border-top:			solid 1px #CCCCCC;
	border-bottom:		solid 1px #CCCCCC;
}

.window1{
    border-left: 		solid 1px #999999;
	border-right: 		solid 1px #999999;
	border-top:			solid 1px #999999;
	border-bottom:		solid 1px #999999;
}

.window2{
    border-left: 		solid 1px #999999;
	border-right: 		solid 1px #999999;
	border-top:			solid 1px #999999;
	border-bottom:		0px ;
}

.window3{
    border-left: 		solid 1px #999999;
	border-right: 		solid 1px #999999;
	border-top:			0px ;
	border-bottom:		0px ;
}

.window4{
    border-left: 		solid 1px #999999;
	border-right: 		solid 1px #999999;
	border-top:			0px ;
	border-bottom:		solid 1px #999999;
}

.window5{
    border-left: 		solid 1px #98A4B6;
	border-right: 		solid 1px #98A4B6;
	border-top:			solid 1px #98A4B6;
	border-bottom:		solid 1px #98A4B6;
}

.window6{
    border-left: 		solid 2px #4E5B93;
	border-right: 		solid 2px #4E5B93;
	border-top:			solid 2px #4E5B93;
	border-bottom:		solid 2px #4E5B93;
}