<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

	<div class="topics">管理人様、<!--# ecode hello #--></div>

	<div class="topics_info"><span>インフォメーション</span></div>
    
    <div class="topics_list">

        <div class="common_black mb5">
        	<table class="common_table_black">
            	<tr>
                	<th colspan="4" class="common_info">システム利用状況</th>
                </tr>
            	<tr>
                	<th width="50%" rowspan="4" colspan="2" class="center" style="padding-left:0;"><span class="bold">媒体主管理状況</span></th>
                    <td><p class="right"><a href="search.php?type=nUser&run=true&activate=1&activate_PAL%5B%5D=match+comp">メール認証待ちのユーザー</a></p></td>
                    <td width="25%"><p class="right"><span class="num"><a href="search.php?type=nUser&run=true&activate=1&activate_PAL%5B%5D=match+comp"><!--# code getRow nUser activate = 1 #--></a></span>&nbsp;人</p></td>
                </tr>
                <tr>
                    <td><p class="right"><a href="search.php?type=nUser&run=true&activate=2&activate_PAL%5B%5D=match+comp">サイト利用認証待ちのユーザー</a></p></td>
                    <td width="25%"><p class="right"><span class="num"><a href="search.php?type=nUser&run=true&activate=2&activate_PAL%5B%5D=match+comp"><!--# code getRow nUser activate = 2 #--></a></span>&nbsp;人</p></td>
                </tr>
                <tr>
                    <td><p class="right"><a href="search.php?type=nUser&run=true&activate=4&activate_PAL%5B%5D=match+comp">利用中のユーザー</a></p></td>
                    <td width="25%"><p class="right"><span class="num"><a href="search.php?type=nUser&run=true&activate=4&activate_PAL%5B%5D=match+comp"><!--# code getRow nUser activate = 4 #--></a></span>&nbsp;人</p></td>
                </tr>
                <tr>
                    <td><p class="right"><a href="search.php?type=nUser&run=true&activate=8&activate_PAL%5B%5D=match+comp">拒否ユーザー</a></p></td>
                    <td width="25%"><p class="right"><span class="num"><a href="search.php?type=nUser&run=true&activate=8&activate_PAL%5B%5D=match+comp"><!--# code getRow nUser activate = 8 #--></a></span>&nbsp;人</p></td>
                </tr>
<!--# ifbegin mod_on cUser #-->
            	<tr>
                	<th width="50%" rowspan="4" colspan="2" class="center" style="padding-left:0;"><span class="bold">広告主管理状況</span></th>
                    <td><p class="right"><a href="search.php?type=cUser&run=true&activate=1&activate_PAL%5B%5D=match+comp">メール認証待ちのユーザー</a></p></td>
                    <td width="25%"><p class="right"><span class="num"><a href="search.php?type=cUser&run=true&activate=1&activate_PAL%5B%5D=match+comp"><!--# code getRow cUser activate = 1 #--></a></span>&nbsp;人</p></td>
                </tr>
            	<tr>
                    <td><p class="right"><a href="search.php?type=cUser&run=true&activate=2&activate_PAL%5B%5D=match+comp">サイト利用認証待ちのユーザー</a></p></td>
                    <td width="25%"><p class="right"><span class="num"><a href="search.php?type=cUser&run=true&activate=2&activate_PAL%5B%5D=match+comp"><!--# code getRow cUser activate = 2 #--></a></span>&nbsp;人</p></td>
                </tr>
                <tr>
                    <td><p class="right"><a href="search.php?type=cUser&run=true&activate=4&activate_PAL%5B%5D=match+comp">利用中のユーザー</a></p></td>
                    <td width="25%"><p class="right"><span class="num"><a href="search.php?type=cUser&run=true&activate=4&activate_PAL%5B%5D=match+comp"><!--# code getRow cUser activate = 4 #--></a></span>&nbsp;人</p></td>
                </tr>
                <tr>
                    <td><p class="right"><a href="search.php?type=cUser&run=true&activate=8&activate_PAL%5B%5D=match+comp">拒否ユーザー</a></p></td>
                    <td width="25%"><p class="right"><span class="num"><a href="search.php?type=cUser&run=true&activate=8&activate_PAL%5B%5D=match+comp"><!--# code getRow cUser activate = 8 #--></a></span>&nbsp;人</p></td>
                </tr>
<!--# endif #-->
                <tr>
                	<th rowspan="4" class="center" style="padding-left:0;"><span class="bold">成果管理状況</span></th>
                    <td class="center fee" style="padding-left:0;">未認証成果</td>
                    <td class="fee"><p class="right">合計金額</p></td>
                    <td class="fee"><p class="right"><span class="num red"><!--# code comma (!--# ecode getExchange unattestation #--) #--></span>&nbsp;円</p></td>
                </tr>
                <tr>
                    <td rowspan="3" width="25%" class="center ffe" style="padding-left:0;">認証済成果</td>
                    <td class="ffe"><p class="right">成果発生</p></td>
                    <td class="ffe"><p class="right"><span class="num"><!--# code comma (!--# ecode getExchange now #--) #--></span>&nbsp;円</p></td>
                </tr>
                <tr>
                    <td class="eff"><p class="right">換金申請</p></td>
                    <td class="eff"><p class="right"><span class="num"><!--# code comma (!--# ecode getExchange proc #--) #--></span>&nbsp;円</p></td>
                </tr>
                <tr>
                    <td class="efe"><p class="right">処理完了</p></td>
                    <td class="efe"><p class="right"><span class="num"><!--# code comma (!--# ecode getExchange past #--) #--></span>&nbsp;円</p></td>
                </tr>
            </table>
        </div>

        <div class="common_black">
        	<table class="common_table_black">
            	<tr>
                	<th class="common_info" width="50%">集計項目</th>
                    <th class="common_info" width="25%">今月</th>
                    <th class="common_info">先月</th>
                </tr>
                <tr>
                	<td>広告へのアクセス数</td>
                    <td><p class="right"><span class="num"><a href="search.php?type=access&run=true&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&registA=(!--# ecode createEpochTime  mt #--)&registB=top"><!--# code comma (!--# code getRow access regist > (!--# ecode createEpochTime  mt #--) #--) #--></a></span>&nbsp;回</p></td>
                    <td><p class="right"><span class="num"><a href="search.php?type=access&run=true&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&registA=(!--# ecode createEpochTime  mt-1 #--)&registB=(!--# ecode createEpochTime  me-1 #--)"><!--# code comma (!--# code getRow access regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--) #--></a></span>&nbsp;回</p></td>
                </tr>
                <tr>
                	<td>成果発生件数</td>
                    <td><p class="right"><span class="num"><a href="search.php?type=pay&run=true&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt #--)&registB=top"><!--# code comma (!--# code getRow pay state = 2 regist > (!--# ecode createEpochTime  mt #--) #--) #--></a></span>&nbsp;件</p></td>
                    <td><p class="right"><span class="num"><a href="search.php?type=pay&run=true&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt-1 #--)&registB=(!--# ecode createEpochTime  me-1 #--)"><!--# code comma (!--# code getRow pay state = 2 regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--) #--></a></span>&nbsp;件</p></td>
                </tr>
                <tr>
                	<td>成果発生金額</td>
                    <td><p class="right"><span class="num"><a href="search.php?type=pay&run=true&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt #--)&registB=top"><!--# code comma (!--# code getSum pay cost state = 2 regist > (!--# ecode createEpochTime  mt #--) #--) #--></a></span>&nbsp;円</p></td>
                    <td><p class="right"><span class="num"><a href="search.php?type=pay&run=true&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt-1 #--)&registB=(!--# ecode createEpochTime  me-1 #--)"><!--# code comma (!--# code getSum pay cost state = 2 regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--) #--></a></span>&nbsp;円</p></td>
                </tr>
            </table>
        </div>

    </div><!--topics_list_END-->
    
    <div class="topics_list">
    	<dl>
        	<dt>共通トラッキングコード</dt>
            <dd>
            	<div class="list_in">
                    <div class="code_area"><textarea class="url" onClick="this.select();"><img src="(!--# ecode getSiteProfile home #--)add.php?check=(!--# ecode getSiteProfile adwares_pass #--)&aid=アクセスID&guid=on" width="1" height="1" /></textarea></div>
                    <p>※上記は、最低限必要なトラッキングコード構成です。より正確に成果の認証を行う為、オプションをご利用下さい。</p>
                    <p>※使用できるオプションは、マニュアルや下の表をご確認下さい。</p>
        		</div>
            </dd>
        </dl>
    </div>

    <div class="common_black">
    <table class="common_table_black">
    <tr>
    	<th class="common_info" width="240">GET引数</th>
        <th class="common_info" width="60">使用条件</th>
        <th class="common_info">説明</th>
    </tr>
    <tr>
    	<td>check=広告認証パスワード</td>
        <td class="center">必須</td>
        <td>システムで設定されている認証パスと一致しない場合は成果処理が実行されません。</td>
    </tr>
    <tr>
    	<td>adwares=広告ID</td>
        <td class="center">必須</td>
        <td>広告単位での設定を呼び出す為に使用します。</td>
    </tr>
    <tr>
    	<td>aid=アクセスID</td>
        <td class="center">必須</td>
        <td>広告ページへのリダイレクト時に付与される「aid」を成果認証時に送信してください。</td>
    </tr>
    <tr>
    	<td>sales=売上金額</td>
        <td class="center">任意</td>
        <td>売上金額を指定して下さい。<br><span class="red">※半角数字のみ</span></td>
    </tr>
    <tr style="display:none;">
    	<td>cost=売上額</td>
        <td class="center">任意(※)<br />
		<span class="red">非推奨</span></td>
        <td>売り上げ額を指定します。<br />
		※広告の獲得単価に % , 会員ランク , パーソナルレート を指定した場合は必須です。<br>
		※過去のバージョンとの互換性のための項目です。使用は推奨されません。<br><span class="red">※半角数字のみ</span></td>
    </tr>
    <tr>
    	<td>from=関連データ</td>
        <td class="center">任意</td>
        <td>アフィリエイトシステム側に任意の文字列を渡すことが出来ます。<br><span class="red">※半角英数字のみ</span></td>
    </tr>
    <tr>
    	<td>guid=on</td>
        <td class="center">任意</td>
        <td>固体識別番号(iモードID)を利用した認証を行います。<br><span class="red">※使用しない場合はUAを利用して認証を行います。</span></td>
    </tr>
    <tr>
    	<td>uid=他システムのユーザーID</td>
        <td class="center">任意</td>
        <td>成果認証時に他システムの固有ユーザーIDを「uid」に渡す事で継続報酬をカウントする事が出来るようになります。</td>
    </tr>
    <tr style="display:none;">
    	<td>eccube=&lt;!--{$tpl_aff_option}--&gt;</td>
        <td class="center">任意<br />EC-CUBE(2.4系)</td>
        <td>
			EC-CUBEに設置する場合は、このパラメータを使用することで特別なカスタマイズなしに歩合報酬を発生させることができます。<br />
			<span class="red">※2.11系では使用できません。</span><br />
			※広告の獲得単価に % , 会員ランク , パーソナルレート を指定した場合は必須です。<br />
			※このパラメータを使用する場合、sales , costは指定する必要はありません。
		</td>
    </tr>
    </table>
    </div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
