<!--# readhead head #-->
    <div class="error_list">
    <dl>
    <dd>
        <ul>
<!--# readend #--> 

<!--# readhead is_error #-->
    <dt>ERROR - [ 登録エラー ] もう一度、入力した内容を確認してください。</dt>
<!--# readend #--> 

<!--# readhead mail #--> 
        <li>メールアドレスが空です。 </li>
<!--# readend #--> 

<!--# readhead mail_MAIL #--> 
        <li>メールアドレスの形式が不正です。 </li>
<!--# readend #--> 

<!--# readhead pass_CONFIRM_NOT #--> 
		<li>パスワード（再度）が入力されていません。</li>
<!--# readend #--> 
<!--# readhead pass_CONFIRM_CHECK #--> 
		<li>パスワードとパスワード（再度）が一致しません。</li>
<!--# readend #--> 

<!--# readhead foot #-->
        </ul>
    </dd>
    </dl>
    </div>
<!--# readend #--> 
