<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; ページ削除 &gt; 削除内容の確認 &gt; <span>ページ削除完了</span></div>

    <div class="comp_list">
    <dl>
    <dt>[ COMPLETE - 削除完了 ]</dt>
    <dd>
    <p style="font-size:12px;">登録情報の削除が完了しました。</p>
        <ul>
        <li><a href="index.php">トップページ</a>に戻る。</li>
        </ul>
    </dd>
    </dl>
    </div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
