<div id="contents">
<!--# include head #-->
<!--# include side_bar #-->
<div id="inc_side_body">
<div class="topics">HOME &gt; ページ追加 &gt; 内容の入力 &gt; <span>入力内容の確認</span> &gt; 新規ページ作成完了</div>

<div class="search_list">
<dl>
<dt>ページ内容</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>名前 (※英数字)<span>※</span></th>
    <td><!--# value name #--></td>
</tr>
<tr>
    <th>権限<span>※</span></th>
    <td><!--# arrayReplace authority / nobody/nUser/cUser 非ログイン/アフィリエイター/広告主 #--></td>
</tr>
<tr>
    <th>公開/非公開<span>※</span></th>
    <td><!--# valueReplace open TRUE/FALSE 公開/非公開 #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="input_box">
<!--# form hidden html #-->
<input type="submit" value="登録する" class="input_base">
<input type="submit" value="入力画面に戻る" class="input_base" name="back">
</div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
