<!--# readhead head #-->
    <div class="error_list">
    <dl>
    <dt>ERROR - [ 登録エラー ] もう一度、入力した内容を確認してください。</dt>
    <dd>
        <ul>
<!--# readend #--> 

<!--# readhead is_error #-->
<!--# readend #-->

<!--# readhead name #--> 
<li>名前が入力されていません。</li> 
<!--# readend #-->

<!--# readhead authority #--> 
<li>権限が一つも選択されていません。</li>
<!--# readend #-->

<!--# readhead name_REGEX #-->
<li>名前に使用できない文字が含まれています。</li>
<!--# readend #--> 

<!--# readhead name_dup #--> 
<li>名前と権限が重複しています。</li>
<!--# readend #-->

<!--# readhead open #--> 
<li>公開/非公開が選択されていません。</li>
<!--# readend #-->

<!--# readhead foot #-->
</ul>
</dd>
</dl>
</div>
<!--# readend #--> 
