<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; 追加ページ &gt; <span>ページの検索結果一覧</span></div>

<!--# syscode searchResult setResultNum 5 #-->
<!--# syscode searchResult setPagejumpNum 7 #-->
<!--ページャー-->
<!--# syscode searchResult info #-->
<!--# syscode searchResult pageChange #-->
<!--ページャーここまで-->

<!--# syscode searchResult result #-->

<!--ページャー-->
<!--# syscode searchResult pageChange #-->
<!--ページャーここまで-->

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
