<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; アフィリエイト媒体登録 &gt; 入力フォーム &gt; <span>入力内容の確認</span> &gt; 登録完了</div>

<div class="search_list">
<dl>
<dt style="display:none;">ログイン用のメールアドレスとパスワード</dt>
<dd style="padding:0;">
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>メールアドレス</th>
    <td><!--# value mail #--></td>
</tr>
<tr>
    <th>パスワード</th>
    <td><!--# code drawPassChar (!--# value pass #--) #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="search_list">
<dl>
<dt style="display:none;">名前、住所、電話番号、FAX番号</dt>
<dd style="padding:0;">
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>名前</th>
    <td><!--# value name #--></td>
</tr>
<tr>
    <th>住所</th>
    <td>〒<!--# value zip1 3 3 #-->-<!--# value zip2 4 4 #-->&nbsp;<!--# alias prefectures adds id name #--><!--# value add_sub #--></td>
</tr>
<tr>
    <th>電話番号</th>
    <td><!--# value tel #--></td>
</tr>
<tr>
    <th>FAX番号</th>
    <td><!--# value fax #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="search_list">
<dl>
<dt style="display:none;">アフィリエイト用バナーを掲載するページのURL</dt>
<dd style="padding:0;">
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>サイト名</th>
    <td><!--# value site_name #--></td>
</tr>
<tr>
    <th>バナー掲載URL</th>
    <td><!--# value url #--></td>
</tr>
<tr>
    <th>返答用URL</th>
    <td><!--# value pingback_url #--></td>
</tr>
<tr>
    <th>デバイス別PV割合</th>
    <td style="padding:0; border:0;">
        <table class="search_list_table" summary="デバイス別PV割合詳細テーブル" style="margin:0; border:0;">
        <tr>
            <th style="border:0;">PC</th>
            <td style="border:0;"><!--# value pv_rate_pc #-->%</td>
        </tr>
        <tr>
            <th style="border:0;">スマートフォン</th>
            <td style="border:0;"><!--# value pv_rate_sp #-->%</td>
        </tr>
        <tr>
            <th style="border:0;">フィーチャーフォン</th>
            <td style="border:0;"><!--# value pv_rate_fp #-->%</td>
        </tr>
        </table>
    </td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="search_list">
<dl>
<dt style="display:none;">アフィリエイト報酬の振込先</dt>
<dd style="padding:0;">
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>金融機関番号</th>
    <td><!--# value bank_code #--></td>
</tr>
<tr>
    <th>金融機関名</th>
    <td><!--# value bank #--></td>
</tr>
<tr>
    <th>支店番号</th>
    <td><!--# value branch_code #--></td>
</tr>
<tr>
    <th>支店名</th>
    <td><!--# value branch #--></td>
</tr>
<tr>
    <th>種別</th>
    <td><!--# valueReplace bank_type 1/2/4 普通/当座/貯蓄 #--></td>
</tr>
<tr>
    <th>口座番号</th>
    <td><!--# value number #--></td>
</tr>
<tr>
    <th>口座名義(カナ)</th>
    <td><!--# value bank_name #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="search_list">
<dl>
<dt style="display:none;">現在の配当金額に関連する情報</dt>
<dd style="padding:0;">
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>配当金額</th>
    <td><!--# value pay #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="search_list">
<dl>
<dt style="display:none;">成果換算レートを入力してください。</dt>
<dd style="padding:0;">
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>媒体ランク</th>
    <td><!--# alias sales rank id name #--></td>
</tr>
<tr>
    <th>パーソナルレート</th>
    <td><!--# value personal_rate #-->％<span class="info">広告形式が「パーソナルレート」の時のみ有効です</span></td>
</tr>
<tr>
    <th>最終成果換算レート</th>
    <td><!--# value magni #-->％<span class="info">全ての成果に影響します</span></td>
</tr>
</table>
</dd>
</dl>
</div>

<!--# ecode drawMailReceptionEdit check #-->

<div class="input_box">
<input type="submit" value="編集を完了する" class="input_base">
<input type="submit" value="入力画面に戻る" class="input_base" name="back">
</div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
