<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">
<div class="topics">HOME</div>
    
    <div class="topics_list">

        <div class="common_black">
        	<table class="common_table_black">
            	<tr>
                	<th colspan="4" class="common_info"><!--# value name #-->様、<!--# ecode hello #--></th>
                </tr>
            	<tr>
                	<th width="50%" rowspan="2" colspan="2" class="center" style="padding-left:0"><span class="bold">アフィリエイト状況</span></th>
                    <td><p class="right">広告バナーからの訪問</p></td>
                    <td width="25%"><p class="right"><span class="num"><!--# code getRow access owner = (!--# value id #--) #--></span>&nbsp;人</p></td>
                </tr>
                <tr>
                    <td><p class="right">広告バナー経由の成果</a></p></td>
                    <td width="25%"><p class="right"><span class="num"><!--# code getRow pay owner = (!--# value id #--) #--></span>&nbsp;件</p></td>
                </tr>
                <tr style="display:none;">
                    <td><p class="right">紹介人数</p></td>
                    <td width="25%"><p class="right"><span class="num"><!--# code getRow nUser parent = (!--# value id #--) activate = 4 #--></span>&nbsp;人</p></td>
                </tr>
                <tr style="display:none;">
                    <td><p class="right">累積ティア報酬</p></td>
                    <td width="25%"><p class="right"><span class="num"><!--# code comma (!--# ecode getTier #--) #--></span>&nbsp;円</p></td>
                </tr>
                <tr style="display:none;">
                    <td><p class="right">媒体ランク</p></td>
                    <td width="25%"><p class="right"><span class="num"><!--# arrayAlias sales rank id name #-->（<!--# arrayAlias sales rank id rate #-->％）</span></p></td>
                </tr>
                <tr>
                	<th rowspan="4" class="center" style="padding-left:0"><span class="bold">成果報酬状況</span></th>
                    <td class="center fee" style="padding-left:0">成果未認証</td>
                    <td class="fee"><p class="right">合計額</p></td>
                    <td class="fee"><p class="right"><span class="num"><!--# code comma (!--# ecode getExchange unattestation #--) #--></span>&nbsp;円</p></td>
                </tr>
                <tr>
                    <td rowspan="3" width="25%" class="center ffe" style="padding-left:0">成果認証済</td>
                    <td class="ffe"><p class="right">獲得成果</p></td>
                    <td class="ffe"><p class="right"><span class="num"><!--# code comma (!--# ecode getExchange now #--) #--></span>&nbsp;円</p></td>
                </tr>
                <tr>
                    <td class="eff"><p class="right">換金申請済み</p></td>
                    <td class="eff"><p class="right"><span class="num"><!--# code comma (!--# ecode getExchange proc #--) #--></span>&nbsp;円</p></td>
                </tr>
                <tr>
                    <td class="efe"><p class="right">配当済み</p></td>
                    <td class="efe"><p class="right"><span class="num"><!--# code comma (!--# ecode getExchange past #--) #--></span>&nbsp;円</p></td>
                </tr>
            </table>
        </div>
    </div><!--topics_list_END-->

    <div class="orange_list" style="display:none;">
    <dl>
    <dt>[ INFORMATION - インフォメーション ]</dt>
    <dd>
        <ul><li>お友達紹介用URLです。コピーして使用してください。</li></ul>
		<p><textarea class="url">(!--# ecode getSiteProfile home #--)index.php?friend=(!--# value id #--)</textarea></p>
    </dd>
    </dl>
    </div><!--orange_list_END-->

</div><!--inc_side_body_END-->

<br class="clear">

<!--フルワイドコンテンツはココに入る事ができる-->
</div><!--contents_END-->
