<!--blocks-->
<div class="search_list">
<dl>
<dt><span>登録日:<!--# setTimeFormat Y/m/d/\ G:i:s #--><!--# value regist #--></span><a href="info.php?type=nUser&id=(!--# value id #--)"><!--# value id #--> <!--# value name #--></a></dt>
<dd>
<table class="search_list_table">
<tr>
<th>住所</th>
<td><!--# alias prefectures adds id name #--><!--# value add_sub #--></td>
</tr>
<tr>
<th>電話番号</th>
<td><!--# value tel #--></td>
</tr>
<tr>
<th>バナー掲載URL</th>
<td><a href="(!--# value url #--)" class="table1"><!--# value url #--></a></td>
</tr>
<tr>
<th>メールアドレス</th>
<td><a href="mailto:(!--# value mail #--)" class="table1"><!--# value mail #--></a></td>
</tr>
</table>
</dd>
</dl>
</div>
<!--blocks_END-->
