<div id="contents">

<!--# include head #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; <span>INFORMATION</span></div>

    <div class="error_list">
    <dl>
    <dt>INFORMATION - 広告の掲載許可が出ていません。</dt>
    <dd>
    <p><!--# value name #-->様<!--# ecode hello #--></p>
        <ul>
        <li>管理者より広告の掲載許可が出ていません。</li>
        <li>許可が出るまでしばらくお待ちください。</li>
        </ul>
    </dd>
    </dl>
    </div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
