<!--# readhead head #-->
    <div class="error_list">
    <dl>
    <dd>
        <ul>
<!--# readend #-->
<!--# readhead is_error #-->
    <dt>ERROR - [ 登録エラー ] もう一度、入力した内容を確認してください。</dt>
<!--# readend #--> 

<!--# readhead child_per #-->
	<li>子から受け取る割合が入力されていません。</li>
<!--# readend #-->

<!--# readhead grandchild_per #-->
	<li>孫から受け取る割合が入力されていません。</li>
<!--# readend #-->

<!--# readhead greatgrandchild_per #-->
	<li>ひ孫から受け取る割合が入力されていません。</li>
<!--# readend #-->

<!--# readhead child_per_REGEX #-->
	<li>子から受け取る割合には半角数字を入力してください。</li>
<!--# readend #-->

<!--# readhead mail_MAIL #-->
	<li>メールアドレスの形式が不正です。 </li>
<!--# readend #-->

<!--# readhead url_URI #-->
	<li>URIの形式が不正です。 </li>
<!--# readend #-->

<!--# readhead grandchild_per_REGEX #-->
	<li>孫から受け取る割合には半角数字を入力してください。</li>
<!--# readend #-->

<!--# readhead greatgrandchild_per_REGEX #-->
	<li>ひ孫から受け取る割合には半角数字を入力してください。</li>
<!--# readend #-->

<!--# readhead home #--> 
	 <li>サイトのURLが空です。 </li>
<!--# readend #-->

<!--# readhead mail_address #--> 
	 <li>メール送信元アドレスが空です。  </li>
<!--# readend #--> 

<!--# readhead mail_name #--> 
	 <li>メール送信者名が空です。  </li>
<!--# readend #--> 

<!--# readhead login_id_manage #--> 
	 <li>ユーザIDの管理方法が選択されていません。  </li>
<!--# readend #--> 

<!--# readhead users_returnss #--> 
	 <li>ユーザーによる換金処理の可否が選択されていません。  </li>
<!--# readend #--> 

<!--# readhead adwares_pass #--> 
	 <li>広告認証パスワードが入力されていません。  </li>
<!--# readend #--> 

<!--# readhead access_limit #--> 
	 <li>アクセスログ有効期限が入力されていません。  </li>
<!--# readend #--> 

<!--# readhead parent_limit #-->
	<li>ティア紹介制限数が入力されていません。</li>
<!--# readend #-->

<!--# readhead parent_limit_url #-->
	<li>ティア紹介制限URLが入力されていません。</li>
<!--# readend #-->

<!--# readhead home_REGEX #-->
	<li>サイトのURLが不正です。（スラッシュで終わる形で入力して下さい。）</li>
<!--# readend #-->

<!--# readhead mail_address_MAIL #-->
	<li>メールアドレスの形式が不正です。</li>
<!--# readend #-->

<!--# readhead exchange_limit #-->
        <li>換金申請の最低必要額が入力されていません。</li>
<!--# readend #-->

<!--# readhead exchange_limit_REGEX #-->
        <li>換金申請の最低必要額には半角数字を入力してください。</li>
<!--# readend #-->

<!--# readhead access_limit_REGEX #-->
        <li>アクセスログ有効期限には半角数字を入力してください。</li>
<!--# readend #-->

<!--# readhead parent_limit_REGEX #-->
        <li>ティア紹介制限数には半角数字を入力してください。</li>
<!--# readend #-->


<!-- 以下、現行システムでは、使用していません。 -->

<!--# readhead login_id_manage #--> 
	 <li>ユーザIDの管理方法が選択されていません。  </li>
<!--# readend #--> 

<!--# readhead users_returnss #--> 
	 <li>ユーザーによる換金処理の可否が選択されていません。  </li>
<!--# readend #--> 


<!--# readhead foot #-->
        </ul>
    </dd>
    </dl>
    </div><!--topics_list_END-->
<!--# readend #-->
