<!--# readhead head #-->
    <div class="error_list">
    <dl>
    <dt>ERROR - [ 登録エラー ] もう一度、入力した内容を確認してください。</dt>
    <dd>
        <ul>
<!--# readend #-->
<!--# readhead owner #-->
        <li>媒体主が選択されていません。</li>
<!--# readend #-->
<!--# readhead cuser #-->
        <li>広告主が選択されていません。</li>
<!--# readend #-->
<!--# readhead adwares #-->
        <li>広告が選択されていません。</li>
<!--# readend #-->
<!--# readhead cost #-->
        <li>成果報酬が入力されていません。</li>
<!--# readend #-->
<!--# readhead state #-->
        <li>成果の認証が選択されていません。</li>
<!--# readend #-->
<!--# readhead cost_REGEX #-->
        <li>成果報酬には半角数字を入力して下さい。</li>
<!--# readend #-->

<!--# readhead minus_error #-->
        <li>指定操作を実行すると成果額がマイナスになります。未認証の換金申請を差し戻すか、または減少額を小さくしてください。</li>
<!--# readend #-->

<!--# readhead foot #-->
        </ul>
    </dd>
    </dl>
    </div>
<!--# readend #-->
