<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; 登録情報編集 &gt; 入力フォーム &gt; <span>入力内容の確認</span> &gt; 登録完了</div>

<div class="search_list">
<dl>
<dt style="display:none;">ログイン用のメールアドレスとパスワード</dt>
<dd style="padding:0;">
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>メールアドレス</th>
    <td><!--# value mail #--></td>
</tr>
<tr>
    <th>パスワード</th>
    <td><!--# code drawPassChar (!--# value pass #--) #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="search_list">
<dl>
<dt style="display:none;">名前、住所、電話番号、FAX番号</dt>
<dd style="padding:0;">
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>名前</th>
    <td><!--# value name #--></td>
</tr>
<tr>
    <th>住所</th>
    <td>〒<!--# value zip1 3 3 #-->-<!--# value zip2 4 4 #-->&nbsp;<!--# alias prefectures adds id name #--><!--# value add_sub #--></td>
</tr>
<tr>
    <th>電話番号</th>
    <td><!--# value tel #--></td>
</tr>
<tr>
    <th>FAX番号</th>
    <td><!--# value fax #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<!--# ecode drawMailReceptionEdit check #-->

<div class="input_box">
<input type="submit" value="編集を完了する" class="input_base">
<input type="submit" value="入力画面に戻る" class="input_base" name="back">
</div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
