<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; ユーザー検索 &gt; <span>ユーザーの詳細</span></div>

    <div class="topics_list">
    <dl>
    <dt>インフォメーション</dt>
    <dd>
        <ul>
        </ul>
    </dd>
    <dt>リスト</dt>
    <dd>
        <ul>
        <li><a href="search.php?type=access&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp">このユーザーの広告に関するアクセスリスト</a></li>
        <li><a href="search.php?type=pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp">このユーザーの広告登録・商品の購入リスト</a></li>
        <li style="display:none;"><a href="search.php?type=click_pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp">このユーザーのクリック広告の購入リスト</a></li>
        </ul>
    <div class="topics_list">
        <div class="common_black">
            <table class="common_table_black">
            	<tr>
                	<th class="common_info" width="50%">集計項目</th>
                    <th class="common_info" width="25%">今月</th>
                    <th class="common_info">先月</th>
                </tr>
                <tr>
                	<td>広告アクセス数</td>
                    <td><p class="right"><span class="num"><a href="search.php?type=access&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&registA=(!--# ecode createEpochTime  mt #--)&registB=top"><!--# code getRow access cuser = (!--# value id #--) regist > (!--# ecode createEpochTime  mt #--) #--></a></span>　回</p></td>
                    <td><p class="right"><span class="num"><a href="search.php?type=access&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&registA=(!--# ecode createEpochTime  mt-1 #--)&registB=(!--# ecode createEpochTime  me-1 #--)"><!--# code getRow access cuser = (!--# value id #--) regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--></a></span>　回</p></td>
                </tr>
                <tr style="display:none;">
                	<td>クリック広告成果数</td>
                    <td><p class="right"><span class="num"><a href="search.php?type=click_pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt #--)&registB=top"><!--# code getRow click_pay cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt #--) #--></a></span>　件</p></td>
                    <td><p class="right"><span class="num"><a href="search.php?type=click_pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt-1 #--)&registB=(!--# ecode createEpochTime  me-1 #--)"><!--# code getRow click_pay cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--></a></span>　件</p></td>
                </tr>
                <tr style="display:none;">
                    <td>クリック広告成果額</td>
                    <td><p class="right"><span class="num"><a href="search.php?type=click_pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt #--)&registB=top"><!--# code getSum click_pay cost cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt #--) #--></a></span>　円</p></td>
                    <td><p class="right"><span class="num"><a href="search.php?type=click_pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt-1 #--)&registB=(!--# ecode createEpochTime  me-1 #--)"><!--# code getSum click_pay cost cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--></a></span>　円</p></td>
                </tr>
                <tr>
                	<td>アフィリエイト広告成果数</td>
                    <td><p class="right"><span class="num"><a href="search.php?type=pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt #--)&registB=top"><!--# code getRow pay cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt #--) #--></a></span>　件</p></td>
                    <td><p class="right"><span class="num"><a href="search.php?type=pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt-1 #--)&registB=(!--# ecode createEpochTime  me-1 #--)"><!--# code getRow pay cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--></a></span>　件</p></td>
                </tr>
                <tr>
                    <td>アフィリエイト広告成果額</td>
                    <td><p class="right"><span class="num"><a href="search.php?type=pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt #--)&registB=top"><!--# code getSum pay cost cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt #--) #--></a></span>　円</p></td>
                    <td><p class="right"><span class="num"><a href="search.php?type=pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt-1 #--)&registB=(!--# ecode createEpochTime  me-1 #--)"><!--# code getSum pay cost cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--></a></span>　円</p></td>
                </tr>
                <tr style="display:none;">
                	<td>継続広告成果数</td>
                    <td><p class="right"><span class="num"><a href="search.php?type=continue_pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt #--)&registB=top"><!--# code getRow continue_pay cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt #--) #--></a></span>　件</p></td>
                    <td><p class="right"><span class="num"><a href="search.php?type=continue_pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt-1 #--)&registB=(!--# ecode createEpochTime  me-1 #--)"><!--# code getRow continue_pay cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--></a></span>　件</p></td>
                </tr>
                <tr style="display:none;">
                    <td>継続広告成果額</td>
                    <td><p class="right"><span class="num"><a href="search.php?type=continue_pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt #--)&registB=top"><!--# code getSum continue_pay cost cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt #--) #--></a></span>　円</p></td>
                    <td><p class="right"><span class="num"><a href="search.php?type=continue_pay&run=true&cuser=(!--# value id #--)&cuser_PAL%5B%5D=match+comp&regist=bt&regist_PAL[]=match+between&state=2&state_PAL[]=match+comp&registA=(!--# ecode createEpochTime  mt-1 #--)&registB=(!--# ecode createEpochTime  me-1 #--)"><!--# code getSum continue_pay cost cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--></a></span>　円</p></td>
                </tr>
                <tr>
                    <td>広告成果総額</td>
                    <td><p class="right"><span class="num"><!--# calc (!--# code getSum pay cost cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt #--) #--)+(!--# code getSum click_pay cost cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt #--) #--)+(!--# code getSum continue_pay cost cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt #--) #--) #--></span>　円</p></td>
                    <td><p class="right"><span class="num"><!--# calc (!--# code getSum pay cost cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--)+(!--# code getSum click_pay cost cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--)+(!--# code getSum continue_pay cost cuser = (!--# value id #--) state = 2 regist > (!--# ecode createEpochTime  mt-1 #--) regist < (!--# ecode createEpochTime  me-1 #--) #--) #--></span>　円</p></td>
                </tr>
            </table>
        </div>
    </div>
    </dd>
    </dl>
    </div><!--topics_list_END-->

<div class="search_list">
<dl>
<dt>登録情報</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>ID／名前</th>
    <td><!--# value id #-->／<!--# value name #--></td>
</tr>
<tr>
    <th>メールアドレス</th>
    <td><!--# value mail #--></td>
</tr>
<tr>
    <th>パスワード</th>
    <td><!--# value pass #--></td>
</tr>
<tr>
    <th>アクティベート状態</th>
    <td>
    <!--# form radio activate   1/2/4/8 未アクティベート/アクティベート/認証済み/認証拒否 #-->
    <input type="submit" value="変更">
    </td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="search_list">
<dl>
<dt>連絡先</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>住所</th>
    <td>〒<!--# value zip1 3 3 #-->-<!--# value zip2 4 4 #-->&nbsp;<!--# alias prefectures adds id name #--><!--# value add_sub #--></td>
</tr>
<tr>
    <th>電話番号</th>
    <td><!--# value tel #--></td>
</tr>
<tr>
    <th>FAX番号</th>
    <td><!--# value fax #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<a href="edit.php?type=cUser&id=(!--# value id #--)" class="input_base">編集する</a>
<a href="edit.php?type=cUser&id=(!--# value id #--)&delete=true" class="input_base">削除する</a>
<a href="login.php?type=cUser&id=(!--# value id #--)&run=true" class="input_base">ログイン</a>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
