<!--# readhead head #-->
    <div class="error_list">
    <dl>
    <dt>ERROR - [ 登録エラー ] 入力内容をご確認ください。</dt>
    <dd>
        <ul>
<!--# readend #-->
<!--# readhead name #-->
        <li>名前が入力されていません。</li>
<!--# readend #-->
<!--# readhead zip1 #-->
        <li>郵便番号(前半)が入力されていません。</li>
<!--# readend #-->
<!--# readhead zip2 #-->
        <li>郵便番号(後半)が入力されていません。</li>
<!--# readend #-->
<!--# readhead adds #-->
        <li>都道府県が選択されていません。</li>
<!--# readend #-->
<!--# readhead add_sub #-->
        <li>住所が入力されていません。</li>
<!--# readend #-->
<!--# readhead tel #-->
        <li>電話番号が入力されていません。</li>
<!--# readend #-->
<!--# readhead fax #-->
        <li>FAX番号が入力されていません。</li>
<!--# readend #-->
<!--# readhead url #-->
        <li>バナー掲載URLが入力されていません。</li>
<!--# readend #-->
<!--# readhead mail #-->
        <li>メールアドレスが入力されていません。</li>
<!--# readend #-->
<!--# readhead bank #-->
        <li>金融機関名が入力されていません。</li>
<!--# readend #-->
<!--# readhead branch #-->
        <li>支店名が入力されていません。</li>
<!--# readend #-->
<!--# readhead bank_type #-->
        <li>口座種別が選択されていません。</li>
<!--# readend #-->
<!--# readhead number #-->
        <li>口座番号が入力されていません。</li>
<!--# readend #-->
<!--# readhead bank_name #-->
        <li>口座名義が入力されていません。</li>
<!--# readend #-->
<!--# readhead pass #-->
        <li>パスワードが入力されていません。</li>
<!--# readend #-->
<!--# readhead tel_REGEX #-->
        <li>電話番号に使用できない文字が使われています。 入力出来るのは半角数字と「-」のみです。</li>
<!--# readend #-->
<!--# readhead fax_REGEX #-->
        <li>FAX番号に使用できない文字が使われています。 入力出来るのは半角数字と「-」のみです。</li>
<!--# readend #-->
<!--# readhead number_REGEX #-->
        <li>口座番号に使用できない文字が使われています。半角数字で入力して下さい。</li>
<!--# readend #-->
<!--# readhead mail_dup #-->
        <li>そのメールアドレスはすでに登録済みです。</li>
<!--# readend #-->

<!--# readhead mail_MAIL #-->
        <li>不正なメールアドレスです。</li>
<!--# readend #-->
<!--# readhead mail_CONFIRM_NOT #-->
         <li>メールアドレス(再入力)が入力されていません。  </li>
<!--# readend #-->
<!--# readhead mail_CONFIRM_CHECK #-->
         <li>メールアドレスが一致しません。  </li>
<!--# readend #-->
<!--# readhead url_URI #-->
        <li>不正なURLです。</li>
<!--# readend #-->
<!--# readhead pass_CONFIRM_NOT #-->
         <li>パスワード(再入力)が入力されていません。  </li>
<!--# readend #-->
<!--# readhead pass_CONFIRM_CHECK #-->
         <li>パスワードが一致しません。  </li>
<!--# readend #-->
<!--# readhead magni_REGEX #-->
         <li>口座番号に使用できない文字が使われています。半角数字で入力して下さい。  </li>
<!--# readend #-->

<!--# readhead foot #-->
        </ul>
    </dd>
    </dl>
    </div>
<!--# readend #-->
