<script type="text/javascript" src="./js/module/multimail/mail.js"></script>

<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; メール一括送信 &gt; 入力フォーム &gt; 入力内容の確認 &gt; <span>登録完了</span></div>

    <div class="comp_list">
<div id="main_message" >
メールを送信しています。<br>
<br>
<img src="./img/ajax-loader.gif"><br>
<br>
<div id="mail_count" ></div><br>
<div id="mail_success" ></div><br>
</div>
</p>
</div>
    </div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->

<form name="mail">
  <!--# form hidden receive_id #-->
  <!--# form hidden sub #-->
  <!--# form hidden main #-->
</form>
<script language="JavaScript">
<!--//
onLoad = sendMailStart();
-->
</script>
