<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; 一括メール送信 &gt; <span>入力フォーム</span> &gt; 入力内容の確認 &gt; 登録完了</div>

<!--# variable error_msg #-->

<div class="search_list">
<dl>
<dt>メールの内容を入力してください。</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>件名<span>※</span></th>
    <td><!--# form text sub 50 128 #--></td>
</tr>
<tr>
    <th>本文<span>※</span></th>
    <td><!--# form textarea main 60 10 #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="input_box">
<!--# form hidden receive_id #-->
<input type="submit" value="入力内容の確認" class="input_base">
<input type="reset" value="リセット" class="input_base">
</div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
