<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; メール一括送信 &gt; 入力フォーム &gt; <span>入力内容の確認</span> &gt; 登録完了</div>

<div class="search_list">
<dl>
<dt>メール内容</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>件名</th>
    <td><!--# value sub #--></td>
</tr>
<tr>
    <th>本文</th>
    <td><!--# value main #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="input_box">
<input type="submit" value="送信する" class="input_base">
<input type="submit" value="入力画面に戻る" class="input_base" name="back">
</div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
