<!--# readhead head #-->
    <div class="error_list">
    <dl>
    <dd>
        <ul>
<!--# readend #--> 

<!--# readhead is_error #-->
    <dt>ERROR - [ 登録エラー ] もう一度、入力した内容を確認してください。</dt>
<!--# readend #--> 

<!--# readhead commission_code #-->
	<li>委託者コードが入力されていません。</li>
<!--# readend #-->
<!--# readhead bank_code #-->
	<li>金融機関番号が入力されていません。</li>
<!--# readend #-->
<!--# readhead branch_code #-->
	<li>支店番号が入力されていません。</li>
<!--# readend #-->
<!--# readhead bank_type #-->
	<li>預金種目が選択されていません。</li>
<!--# readend #-->
<!--# readhead number #-->
	<li>口座番号が入力されていません。</li>
<!--# readend #-->
<!--# readhead commission_code_REGEX #-->
	<li>委託者コードに数字以外が使用されています。</li>
<!--# readend #-->
<!--# readhead name_kana_REGEX #-->
	<li>委託者名に全角カナ以外が使用されています。</li>
<!--# readend #-->
<!--# readhead bank_name_kana_REGEX #-->
	<li>金融機関名に全角カナ以外が使用されています。</li>
<!--# readend #-->
<!--# readhead branch_name_kana_REGEX #-->
	<li>支店名に全角カナ以外が使用されています。</li>
<!--# readend #-->
<!--# readhead bank_code_REGEX #-->
	<li>金融機関番号には4桁の数字を入力してください。</li>
<!--# readend #-->
<!--# readhead branch_code_REGEX #-->
	<li>支店番号には3桁の数字を入力してください。</li>
<!--# readend #-->
<!--# readhead number_REGEX #-->
	<li>口座番号には7桁の数字を入力してください。</li>
<!--# readend #-->
<!--# readhead bank_type #-->
	<li>預金種目が選択されていません。</li>
<!--# readend #-->
<!--# readhead foot #-->
        </ul>
    </dd>
    </dl>
    </div><!--topics_list_END-->
<!--# readend #-->
