<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; 広告カテゴリーの管理 &gt; 追加フォーム &gt; <span>入力内容の確認</span> &gt; 追加完了</div>

<div class="search_list">
<dl>
<dt>入力内容を確認してください。</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>広告カテゴリー名</th>
    <td><!--# value name #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="input_box">
<input type="submit" value="追加を完了する" class="input_base">
<input type="submit" value="入力画面に戻る" class="input_base" name="back">
</div>

</div><!--inc_side_body_END-->
</form>

<br class="clear">

</div><!--contents_END-->