<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<link rel="stylesheet" href="./template/css/mini_window.css">
<title>広告カテゴリーの追加</title>
<style>
    *{
        font-size: 12px;
    }
</style>
</head>
<body>

<div class="mini_window">
<!--# variable form_begin #-->
<p>追加する広告カテゴリー名を入力してください</p>
<p><!--# form text name 50 128 #--></p>
<p><input type="submit" value="入力内容の確認" class="input_base"></p>
<font color="#ff0033"><!--# variable error_msg #--></font>
<!--# variable form_end #-->

</div><!--mini_window END-->

</body>
</html>
