<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; 広告カテゴリーの管理 &gt; <span>広告カテゴリーの追加</span> &gt; 入力内容の確認 &gt; 追加完了</div>

<!--# variable error_msg #-->

<div class="search_list">
<dl>
<dt>広告カテゴリー名を入力してください。</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>広告カテゴリー名<span>※</span></th>
    <td><!--# form text name 50 128 #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="input_box">
<input type="submit" value="入力内容の確認" class="input_base">
<input type="reset" value="リセット" class="input_base">
</div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->