<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt;  <span>広告カテゴリーの管理</span></div>
<!--# syscode searchResult setResultNum 30 #-->
<!--# syscode searchResult setPagejumpNum 7 #-->

<!--# syscode searchResult info #-->
<!--# syscode searchResult pageChange #-->

<div class="search_accs">
<table class="search_accs_table">
<tr>
<th>広告カテゴリー名</th>
<th>編集</th>
<th>削除</th>
</tr>
<!--# syscode searchResult result #-->
<tr>
<td colspan="3"><a href="regist.php?type=category">広告カテゴリーの追加</a></td>
</tr>
</table>
</div>
<!--アクセスリスト終わり-->

<!--# syscode searchResult info #-->
<!--# syscode searchResult pageChange #-->

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
